# Configurações do Banco de Dados PostgreSQL
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=process_mapper
DB_HOST=postgres
DB_PORT=5432

# Configurações da API
API_URL=http://localhost:3000
NODE_ENV=development

# Configurações do Frontend
VITE_API_URL=http://localhost:3000 
